$main-background: #f5f5f5;
$main-background-darker: #eeeeee;

$main-font: #000000;
$link-font: #225CB2;

$section-project-introduction-wrapper-background: #eeeeee;
$section-project-wrapper-border: #C9C9C9;